body {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

.header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  margin: auto;
  text-align: center;
}

h3 {
  text-align: center;
}

.map-container {
  height: 40vh;
  min-height: 500px;
  width: 60%;
  margin: 50px auto;
  border-radius: 30px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.feature-container {
  width: 60%;
  height: 20vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.feature-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 0;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.checkoff-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 0;
  margin: auto;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: bisque;
  max-width: 40vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.feature-icon {
  font-size: 50px;
}

.climbed {
  min-width: 152.52px;
}

.layer-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
}

.layer-icon {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer-icon img {
  height: 70px;
  width: 70px;
  transition: all 0.3s ease;
}

.layer-icon img:hover {
  transform: scale(1.1);
}

.profile-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
  background-color: bisque;
}

.logo {
  margin-top: 100px;
}

.login-button {
  padding: 20px 60px;
  border-radius: 40%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.profile-picture {
  margin: 25px;
  size: 96px;
}
