body {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

.header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 200px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  margin: 30px auto;
  text-align: center;
}

h3 {
  text-align: center;
}

form {
  font-size: 1.5em;
}

.map-container {
  height: 60vh;
  min-height: 500px;
  width: 60%;
  margin: 50px auto;
  border-radius: 30px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.feature-container {
  width: 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: 'Poppins', sans-serif;
}

.feature-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  min-width: 0;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.checkoff-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 0;
  margin: auto;
  margin-bottom: 60px;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: bisque;
  max-width: 40vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.feature-icon {
  font-size: 50px;
}

.visited {
  min-width: 152.52px;
}

.layer-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;
}

.layer-icon {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer-icon img {
  height: 70px;
  width: 70px;
  transition: all 0.3s ease;
}

.layer-icon img:hover {
  transform: scale(1.1);
}

.profile-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 130px;
  background-color: bisque;
  box-shadow: 0px 15px 10px -15px #111;
}

.logo {
  margin-top: 100px;
}

.login-button {
  padding: 10px 60px;
  margin: 30px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.login-button:hover {
  background-color: rgba(177, 57, 36, 0.945);
}

.profile-picture {
  margin: 25px;
  height: 100px;
  width: auto;
}

.map-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.description {
  font-size: 12px;
}

.sign-up-logo {
  margin-top: 5rem;
  width: 6rem;
  height: auto;
}

.form-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  padding: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 1rem;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  width: 33.333333%;
  border-radius: 40px;
  height: 50px;
  font-size: 1.2em;
}

.form-warning {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border-width: 4px;
  background-color: #fee2e2;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.image-grid img {
  width: 150px;
  height: auto;
  cursor: pointer;
  border: 5px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s ease-in-out;
}

.image-grid img.selected {
  border-color: #ff6961;
}

.signup-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
